.btn-circle-group > button{
  border-radius: 15px;
}

.action-bar{
  padding: 10px 10px 5px;
  overflow: hidden;
}

.clickable{
  cursor: pointer
}

.card-block-input{
  margin-left: 10px;
  margin-right: 10px;
}

.table td.table-input{
  padding-left: 0rem;
  padding-right: 0rem;
}

.card.card-grey{
  background-color: #E3F2FD;
}