<div class="container m-t-1">
    <div class="offset-md-1 col-md-4">
        <points-lists [action-bar]="false" (onListChanged)=onListChanged($event)></points-lists>
    </div>
    <div class="col-md-6">
        <squares-list *ngIf="currentPointsList" [list-name]=currentPointsList></squares-list>
    </div>
</div>