<div class="card card-grey">
    <div class="action-bar">
        <div class="pull-left">
            <select class="form-control" [ngModel]="pagination.pageSize" (ngModelChange)="pagination.pageSize = $event; refreshPage();">
                <option *ngFor="let size of pagination.sizes" [value]="size">{{size}}</option>
            </select>
        </div>
        <div class="button-group btn-circle-group pull-right">
            <button class="btn btn-sm btn-success" toggle="tooltip" placement="top" title="Calculate" (click)="calculate()"><i class="fa fa-check" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th width="25%">Corner 1</th>
                        <th width="25%">Corner 2</th>
                        <th width="25%">Corner 3</th>
                        <th width="25%">Corner 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let square of page">
                        <td width="25%">({{ square.corners[0].x }}, {{ square.corners[0].y }})</td>
                        <td width="25%">({{ square.corners[1].x }}, {{ square.corners[1].y }})</td>
                        <td width="25%">({{ square.corners[2].x }}, {{ square.corners[2].y }})</td>
                        <td width="25%">({{ square.corners[3].x }}, {{ square.corners[3].y }})</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="m-x-auto text-center" *ngIf="true">
            <pagination class="pagination-sm" (pageChanged)="pageChanged($event)" [directionLinks]="false" [itemsPerPage]="pagination.pageSize"
                [totalItems]="10" [(ngModel)]="pagination.page" [maxSize]=5 [boundaryLinks]="true"></pagination>
        </div>
    </div>
</div>