<div class="card card-grey">
    <div *ngIf="actionBarEnabled"  class="action-bar">
        <div class="button-group btn-circle-group pull-right">
            <button class="btn btn-sm btn-primary" (click)="new(focusable)"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button class="btn btn-sm btn-danger" (click)="deleteSelected()"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-xs-right">Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [hidden]="!newListEditing">
                        <td colspan="2" class="table-input">
                            <div class="input-group">
                                <input class="form-control form-control-sm" [(ngModel)]="newList.name" #focusable type="text" (keydown.enter)="add()" (keydown.escape)="resetNewList()" placeholder="Name"
                                />
                                <span class="input-group-btn">
                            <button class="btn btn-secondary btn-sm" type="button" (click)="add()">Add</button>
                            </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="clickable" *ngFor="let list of currentPointsLists" (click)="select(list)" [class.bg-primary]="selectedList === list">
                        <td>{{ list.name }}</td>
                        <td class="text-xs-right">{{ list.count }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>