<div class="card card-grey">
    <div class="action-bar">
        <div class="pull-left">
            <select class="form-control" [ngModel]="pagination.pageSize" (ngModelChange)="pagination.pageSize = $event; refreshPage();">
                <option *ngFor="let size of pagination.sizes" [value]="size">{{size}}</option>
            </select>
        </div>
        <div class="button-group btn-circle-group pull-right">
            <button class="btn btn-sm btn-success" toggle="tooltip" placement="top" title="Export points" (click)="export(filedownload);"><i class="fa fa-download" aria-hidden="true"></i></button>
            <a #filedownload style="display: none;"></a>
            <button class="btn btn-sm btn-success" toggle="tooltip" placement="top" title="Save" (click)="save()"><i class="fa fa-check" aria-hidden="true"></i></button>
            <button class="btn btn-sm btn-primary" toggle="tooltip" placement="top" title="Add point" (click)="new(focusable)"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button class="btn btn-sm btn-primary" toggle="tooltip" placement="top" title="Import points" (click)="fileupload.click();"><i class="fa fa-upload" aria-hidden="true"></i></button>
            <input (change)="importFileSelected($event)" #fileupload style="display: none;" type="file" accept=".txt">
            <button class="btn btn-sm btn-danger" toggle="tooltip" placement="top" title="Clear points" (click)="clear()"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="card-block" *ngIf="importErrors.hasErrors()">
        <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="importErrors.invalidFileType">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="importErrors.invalidFileType = false;">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> Invalid file type.
        </div>
        <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="importErrors.hadDuplicateRows">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="importErrors.hadDuplicateRows = false;">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Warning!</strong> File had duplicate rows.
        </div>
        <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="importErrors.hadInvalidRows">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="importErrors.hadInvalidRows = false;">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Warning!</strong> File had invalid rows.
        </div>
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th width="20%" class="clickable" (click)="sort('x')">X <i *ngIf="pagination.sort && pagination.sort.property === 'x' && pagination.sort.ascending" class="fa fa-sort-asc"
                                aria-hidden="true"></i><i *ngIf="pagination.sort && pagination.sort.property === 'x' && !pagination.sort.ascending"
                                class="fa fa-sort-desc" aria-hidden="true"></i></th>
                        <th width="20%" class="clickable" (click)="sort('y')">Y <i *ngIf="pagination.sort && pagination.sort.property === 'y' && pagination.sort.ascending" class="fa fa-sort-asc"
                                aria-hidden="true"></i><i *ngIf="pagination.sort && pagination.sort.property === 'y' && !pagination.sort.ascending"
                                class="fa fa-sort-desc" aria-hidden="true"></i></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr [hidden]="!newPointCreating">
                        <td colspan="3" class="table-input">
                            <div class="input-group">
                                <td>
                                    <input class="form-control form-control-sm" [(ngModel)]="newPoint.x" #focusable type="text" (keydown.enter)="altfocusable.focus()"
                                        (keydown.escape)="resetNewPoint()" placeholder="X value" /></td>
                                <td>
                                    <input class="form-control form-control-sm" [(ngModel)]="newPoint.y" #altfocusable type="text" (keydown.enter)="add()" (keydown.escape)="newListEscKeyDown($event)"
                                        placeholder="Y value" /></td>
                                <td>
                                    <span class="input-group-btn">
                                    <button class="btn btn-secondary btn-sm" type="button" (click)="add()">Add</button>
                                </span></td>
                            </div>
                        </td>
                    </tr>
                    <tr class="clickable" *ngFor="let point of page" (click)="selectedPoint = point" [class.bg-primary]="selectedPoint === point">
                        <td width="20%">{{ point.x }}</td>
                        <td width="20%" class="text-xs-left">{{ point.y }}</td>
                        <td class="text-xs-right">
                            <button [hidden]="point !== selectedPoint" class="btn btn-sm btn-danger" (click)="delete(point)"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="m-x-auto text-center" *ngIf="currentList.points.length / pagination.pageSize > 1">
            <pagination class="pagination-sm" (pageChanged)="pageChanged($event)" [directionLinks]="false" [itemsPerPage]="pagination.pageSize"
                [totalItems]="currentList.points.length" [(ngModel)]="pagination.page" [maxSize]=5 [boundaryLinks]="true"></pagination>
        </div>
    </div>
</div>