<div class="container m-t-1">
    <div class="offset-md-1 col-md-4">
        <points-lists [action-bar]="true" (onListChanged)=onListChanged($event) [selected-count]=currentPointsListCount></points-lists>
    </div>
    <div class="col-md-6">
        <points-list *ngIf="currentPointsList" [list-name]=currentPointsList (countChanged)=onCountChanged($event)></points-list>
    </div>
</div>