<nav class="navbar navbar-light bg-faded">
    <div class="container">
        <a class="navbar-brand" href="#">Squares App</a>
        <ul class="nav navbar-nav">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/points']">Points <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/squares']">Calculation</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>